# IDE & Tools
.env
.vscode
.idea
.github
.husky
.vscode
.example.env
Makefile
README.md
.prettierrc
.prettierignore

# Docker
compose.prod.yaml
compose.local.yaml
compose.yaml
.dockerignore
docker-bake.hcl

# Temp
/tmp/

# UI
/node_modules/
/dist/
/.svelte-kit/
README.md

# API
sqlc.yaml
Makefile
codegen.yaml
.air.toml
/tmp/
README.md
