# IDE & Tools
.env
.vscode
.idea
.github
.husky
.vscode
.example.env
Makefile
README.md

# Docker
compose.prod.yaml
compose.local.yaml
compose.yaml
.dockerignore
docker-bake.hcl

# Temp
/tmp/

# UI
/ui/node_modules/
/ui/build/
/ui/.svelte-kit/
/ui/README.md

# API
/api/sqlc.yaml
/api/Makefile
/api/codegen.yaml
/api/.air.toml
/api/tmp/
/api/frontend/
/api/README.md
