OAUTH_PROVIDERS=""
OAUTH_POCKETID_CLIENT_ID=
OAUTH_POCKETID_CLIENT_SECRET=
OAUTH_POCKETID_REDIRECT_URL=
OAUTH_POCKETID_DISCOVERY_URL=
DEV_PROXY=true
APP_ENV=dev
STORAGE_ACCESS_KEY_ID=opendrive
STORAGE_ACCESS_KEY_SECRET=opendrive
DATABASE_URL=postgres://postgres:postgres@0.0.0.0:5432/opendrive?sslmode=disable
STORAGE_URL=http://localhost:9000
