DATABASE_URL="postgres://postgres:postgres@localhost:5432/opendrive"
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_ISSUER_URL=https://github.com/login/oauth
CACHE_BYPASS=false
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=http://localhost:5173
